<h1>Listing contacts</h1>

<table id="contacts" class="display" data-source="<%= contacts_url(format: "json") %>">
<thead>
   <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Company</th>
  </tr>
</thead>
<tbody></tbody></table>

<br />

<%= link_to 'New Contact', new_contact_path %>
